
<div class="row">
    <div class="col-md-6">
        <div class="border" id="asd">
        <span> Hely: {{ homero.hely }}</span>
        <ul>
            <li>ID: {{ homero.id }}</li>
            <li>Mertekegyseg: {{ homero.mertekegyseg }}</li>
            <li>MIN: {{ homero.min }}</li>
            <li>MAX: {{ homero.max }}</li>
            <li>Alsohiba: {{ homero.alsohiba }}</li>
            <li>Felsohiba: {{ homero.felsohiba }}</li>
        </ul>
        <button class="btn btn-primary m-2" [ngClass]="{'turn-green': BtnGreen}" (click)="startHomero(homero.hely, homero.id, 
        homero.max, homero.min, homero.alsohiba, homero.felsohiba)">Indítás</button>
        <button class="btn btn-primary m-2" (click)="stopHomero()">Leállítás</button>
        <button class="btn btn-primary m-2" >Homero törlése</button>
        </div>
    </div>
    <div class="col-md-6">
        <div style="text-align:center">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels"
              [grid]="chartOptions.grid"
              [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"
            ></apx-chart>
          </div>
    </div>
    
</div>
